#under-navigation{
    background-color: #FFF7F1;
    height: 70px;
    width: 100%;
}
#under-navigation-left{
    height: fit-content;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    float: left;
    margin-left: 25px;
}
#under-navigation-right{
    float: right;
    display: flex;
    font-weight: 300;
    font-size: 13px;
    margin-top: 26px;
    gap: 5px;
    margin-right: 20px;
}
.right-links:hover{
    color: grey;
    cursor: pointer;
}
.listing-top{
    width: calc(100% - 160px);
    margin-left: 80px;
    margin-top: 20px;
    height: fit-content;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.listing-top #listing-top-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 30px;
}
.listing-top #listing-top-header #left{
    margin-left: 30px;
    font-weight: 200;
    margin-top: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#listing-top-header #left #left-houseName{
    font-size: 40px;
}
.listing-top #listing-top-header #right{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.listing-top #listing-top-header #right button{
    border: none;
    height: fit-content;
    width: fit-content;
    background-color: #12264D;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.listing-top #listing-top-header #right #house-price{
    font-size: 35px;
    color: #011640;
    font-weight: 300;
    margin-top: 5px;
}
.listing-top #listing-top-header #right #payment-duration{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
}
#image-container{
    display: flex;
    justify-content: space-between;
}
#image-container #large-image{
    width: 61%;
    height: 600px;
    object-fit: cover;
}
#image-container #small-images{
    width: 35%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#image-container #small-images .right-images{
    width: 100%;
    height: 280px;
    background: url("https://d37ukvrrv3in12.cloudfront.net/listings/2f0059e5-0c4c-4ba0-89e9-31ca11a107eb/xl/1.jpg");
    background-position: center;
    background-size: cover;
}
#listing-rest{
    width: calc(100% - 160px);
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}
#listing-rest #description-section{
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: calc(100% - 320px);
    height: fit-content;
    margin-top: 30px;
}
#description-section #inner-description{
    width: calc(100% - 40px);
    margin-left: 20px;
    height: fit-content;
    margin-top: 50px;
}
#description-section #inner-description .description-key-value{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px 0px;
    font-size: 15px;
    color: grey;
    display: flex;
    justify-content: space-between;
}
#description-section #inner-description #first-key{
    border: none;
}
#listing-rest #cards-section{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
#listing-rest #cards-section .card{
    width: 100%;
}
#description-section #inner-description #deep-description{
    margin-top: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
#description-narrator{
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}
#description-narrator .key{
    font-size: 13px;
    margin-bottom: 2px;
}
.key{
    color: grey;
}
#dates{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
}
#dates div{
    display: flex;
    gap: 5px;
    margin-top: 2px;
}