.flexdisplay{
    display: flex;
    flex-direction: row;
    padding: 200px 20px 200px 20px;
}
.flexdisplay #left-properties{
    flex: 1;
}
.flexdisplay #right-properties{
    flex: 1;
    line-height: 32px;
    color: grey;
    font-weight: lighter;
    padding-left: 240px;
}
body{
    background-color: white;
}
.cards-container{
    border: none;
    width: calc(100% - 60px);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0px;
    margin-left: 30px;
    background-color: white;
}
.inner-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}